.page {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: auto;
}

.exit {
    right: 2%;
    position: fixed;
}

.game {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    left: 10vw;
    top: 5vh;
    width: 80vw;
    height: 90vh;
    background: #fff;
    overflow: auto;
    position: absolute;
}