.phlevent {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    background-color: white;
    padding: 20px;
}

.phl_img {
    width: auto;
    height: 15vw;
    display: inline-block;
    margin: 5px;
}

.like {
    display: inline-block;
    width: calc(2vw + 10px);
    height: calc(2vw + 10px);
}

.countlike {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    bottom: 5px;
    color: red;
}