<div *ngIf="!reloading; else reloader">
    <div *ngFor="let event of events">
        <div class="phlevent dark-1-border">
            <span [appEasyLang]="{easyLang: true}"  class="pNotAdmin">{{'Приглашает' + ' ' + event.autorName + ' ' + event.autorSurname}}</span><br>
            <hr noshade color="black">
            <div *ngIf="!event.chatTitle">
                <div *ngIf="buttons$ | async as buttons">
                    <span *ngFor="let button of buttons">
                        <span *ngIf="event.type == button.type" [appEasyLang]="{easyLang: true}" class="pNotAdmin">{{button.text}}</span>
                    </span><br>
                    <span *ngIf="event.date" class="pNotAdmin">{{event.date | date:"dd.MM.yyyy HH:mm"}}</span>
                </div>
            </div>
            <div *ngIf="event.chatTitle">
                <span [appEasyLang]="{easyLang: true}"  class="pNotAdmin">{{event.chatTitle}}</span><br>
                <span *ngIf="event.date"  class="pNotAdmin">{{event.date | date:"dd.MM.yyyy HH:mm"}}</span>
            </div>
            <hr noshade color="black">
            <div *ngIf="event.description" [appEasyLang]="{easyLang: true}" class="pNotAdmin">
                {{event.description}}
            </div>
            <hr noshade color="black">
            <img 
            *ngIf="event.chatImage"
            class="phl_img green-cursor" 
            (click)="openZoom(event.chatImage)"
            [src]="event.chatImage">
            
            <br>

            <div class="pNotAdmin countlike">ЧТОБЫ УЧАСТВОВАТЬ, ВОЙДИТЕ</div>
            
        </div>
    </div>
    <app-loader *ngIf="loading"></app-loader>
</div>
<app-picture-zoom *ngIf="zoom" [image]="image" (result)="closeZoom($event)"></app-picture-zoom>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>
