<div *ngIf="!reloading; else reloader">
    <div *ngFor="let event of events">
        <div class="phlevent dark-1-border">
            <div *ngIf="!event.chatTitle">
                <div *ngIf="buttons$ | async as buttons">
                    <span *ngFor="let button of buttons">
                        <span *ngIf="event.type == button.type" appEasyLang class="pNotAdmin">{{button.text}}</span>
                    </span><br>
                    <span *ngIf="event.date" class="pNotAdmin">{{event.date | date:"dd.MM.yyyy HH:mm"}}</span>
                </div>
            </div>
            <div *ngIf="event.chatTitle">
                <span appEasyLang  class="pNotAdmin">{{event.chatTitle}}</span><br>
                <span *ngIf="event.date"  class="pNotAdmin">{{event.date | date:"dd.MM.yyyy HH:mm"}}</span>
            </div>
            <hr noshade color="black">
            <div *ngIf="event.description" appEasyLang class="pNotAdmin">
                {{event.description}}
            </div>
            <hr noshade color="black">
            <img 
            *ngIf="event.chatImage"
            class="phl_img green-cursor" 
            [src]="event.chatImage">

            <br>

            <div class="pNotAdmin countlike">ЧТОБЫ УЧАСТВОВАТЬ, ВОЙДИТЕ</div>
            
        </div>
    </div>
</div>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>
