<div *ngIf="!reloading; else reloader">
    <div *ngFor="let event of events">
        <div class="phlevent dark-{{session.firstColor}}-border">
            <span [appEasyLang]="session"  class="pNotAdmin">{{'Пригласил' +  (event.autorSex === 2 ? 'а' : '') + ' ' + event.autorName + (session.surnameView ? (' ' + event.autorSurname) : '')}}</span><br>
            <hr noshade color="black">
            <div *ngIf="!event.chatTitle">
                <div *ngIf="buttons$ | async as buttons">
                    <span *ngFor="let button of buttons">
                        <span *ngIf="event.type == button.type" [appEasyLang]="session" class="pNotAdmin">{{button.text}}</span>
                    </span><br>
                    <span *ngIf="event.date" class="pNotAdmin">{{event.date | date:"dd.MM.yyyy HH:mm"}}</span>
                </div>
            </div>
            <div *ngIf="event.chatTitle">
                <span [appEasyLang]="session"  class="pNotAdmin">{{event.chatTitle}}</span><br>
                <span *ngIf="event.date"  class="pNotAdmin">{{event.date | date:"dd.MM.yyyy HH:mm"}}</span>
                
            </div>
            <hr noshade color="black">
            <div *ngIf="event.description" >
                <span [appEasyLang]="session" class="pNotAdmin">
                    {{event.description}}
                </span>
                <div class="screenread-btn green-cursor" 
                *ngIf="event.description && session.screenreader"
                (click)="screenRead(event.autorSex, event.autorName, event.autorSurname, event.chatTitle, event.description)">
                </div>
            </div>
            <hr noshade color="black" *ngIf="event.photolikes && event.photolikes.length">
            <div class="photos" *ngIf="event.photolikes && event.photolikes.length">
                <img 
                *ngFor="let photo of event.photolikes"
                class="phl_img green-cursor invert-{{session.invert}}" 
                [src]="photo"
                loading="lazy"
                (click)="openZoom(photo)">
            </div>
            <br>

            <img *ngIf="event.likes && event.likes.includes(session._id)" 
            class="like green-cursor" src="/images/like.png" (click)="deleteLike(event._id)">
            
            <img *ngIf="(event.likes && !event.likes.includes(session._id) || !event.likes)" 
            class="like green-cursor" src="/images/notlike.png" (click)="pushLike(event._id)">

            <div class="pNotAdmin countlike green-cursor" (click)="openLikes(event._id)" *ngIf="event.likes.length">{{event.likes.length}}</div>
            
        </div>
    </div>

    <app-loader *ngIf="loading"></app-loader>

</div>
<app-picture-zoom *ngIf="zoom" [image]="image" [session]="session" (result)="closeZoom($event)"></app-picture-zoom>
<app-likes *ngIf="openlikes" [likes]="likes" [session]="session" (result)="closeLikes($event)"></app-likes>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>