
<div class="user_filtr" *ngIf="session">
    <div *ngIf="session.levelStatus == 1">
        <p class="in_user_filtr dark-{{session.firstColor}}-color">Организация:</p>
        <select *ngIf="institutions$ | async as institutions" [(ngModel)]="institution" (change)="onFilter()">
            <option  value="">Любое</option>
            <option *ngFor="let institution of institutions" value="{{institution._id}}">{{institution.name}}</option>
        </select>
    </div>
    <p class="in_user_filtr dark-{{session.firstColor}}-color">Статус:</p>
    <select [(ngModel)]="filter_status" (change)="onFilter()">
        <option value="">Любой</option>
        <option value="0">На рассмотрении</option>
        <option value="1">Активно</option>
        <option value="2">Завершено</option>
        <option value="-1">Отклонено</option>
    </select>
</div>

<div *ngIf="!reloading; else reloader">
    <div *ngIf="events.length > 0; else empty">
        <div 
        class="user dark-{{session.firstColor}}-border"
        *ngFor="let event of events"
        id="{{event._id}}">
            <p class="user_title">{{event.text}}</p><br>
            <div class="div_user_info">
                <p class="user_info">
                    <span class="dark-{{session.firstColor}}-color">Автор:</span> {{event.autorName}}
                </p><br>
                <p class="user_info">
                    <span class="dark-{{session.firstColor}}-color">Описание:</span> {{event.description}}
                </p> <br>

                <p class="user_info">
                    <span class="dark-{{session.firstColor}}-color">Статус:</span> {{event.status == -1 ? "Отклонено" : event.status == 1 ? "Активно" : event.status == 0 ? "На рассмотрении" : event.status == 2 ? "Завершено" : "Неизвестен" }}
                </p> <br>

                <a 
                class="nav-admin form_picture_button middle-{{session.firstColor}}-bg-hover" 
                [routerLink]="['/manage/events', event._id]"
                [queryParams]="{'institution': this.session.institution}">
                    Редактировать
                </a>
                <button id="delete_button" type="button" hidden></button>
                <label
                *ngIf="event.status == 0 || event.status == -1"
                for="delete_button" 
                class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
                (click)="deleteEvent(event._id, event.autorName)">
                    Удалить
                </label>
                
            </div>
        </div>
        <br>
        <button id="more_button" type="button" hidden></button>
        <div *ngIf="!noMore" class="noMore">
            <label 
            *ngIf="!loading; else loader"
            for="more_button" 
            class="new_user_button center middle-{{session.firstColor}}-bg-hover"
            (click)="loadMore()">
                Загрузить ещё
            </label>
        </div>
        <app-loader *ngIf="loading"></app-loader>
    </div>

    <button id="bot-emo" hidden></button>
    <label 
    *ngIf="session.levelStatus == 1"
    for="bot-emo" 
    id="add_folder">
        <a 
        class="nav-admin middle-{{session.firstColor}}-bg-hover" 
        [routerLink]="['/manage/emo']">
            Бот ЭМО
        </a>
    </label>

    <button id="event-table" hidden></button>
    <label 
    *ngIf="session.levelStatus == 1"
    for="event-table" 
    id="add_picture">
        <a 
        class="nav-admin middle-{{session.firstColor}}-bg-hover" 
        [routerLink]="['/manage/table']">
            Таблица бюджета
        </a>
    </label>

</div>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>

<ng-template #empty>
    <div class="empty">Мероприятия не найдены. Попробуйте применить другие фильтры.</div>
</ng-template>