<div *ngIf="!reloading; else reloader">

    <div class="box-friend" *ngIf="session.levelStatus != 4 && session.levelStatus != 6">
        <div class="dark-{{session.firstColor}}-border friendAvatar-container">
            <img 
            class="friendAvatar dark-{{session.firstColor}}-border green-cursor" 
            src="/images/rating.png"
            (click)="goToRating()">
        </div>
        <div class="friendName tc dark-{{session.firstColor}}-border green-cursor" (click)="goToRating()">
            <span [appEasyLang]="session">Рейтинг</span><br>
        </div>                                             	 
   </div>

   <div class="box-friend">
        <div class="dark-{{session.firstColor}}-border friendAvatar-container white">
            <img 
            class="friendAvatar dark-{{session.firstColor}}-border green-cursor invert-{{session.invert}}" 
            src="/images/writing.png"
            (click)="goToGame(1)">
        </div>
        <div class="friendName tc dark-{{session.firstColor}}-border green-cursor" (click)="goToGame(1)">
            <span [appEasyLang]="session">Письмо</span><br>
        </div>                                             	 
    </div>

    <div class="box-friend">
        <div class="dark-{{session.firstColor}}-border friendAvatar-container white">
            <img 
            class="friendAvatar dark-{{session.firstColor}}-border green-cursor invert-{{session.invert}}" 
            src="/images/tir.png"
            (click)="goToGame(2)">
        </div>
        <div class="friendName tc dark-{{session.firstColor}}-border green-cursor" (click)="goToGame(2)">
            <span [appEasyLang]="session">Тир</span><br>
        </div>                                             	 
    </div>

    <div class="box-friend">
        <div class="dark-{{session.firstColor}}-border friendAvatar-container white">
            <img 
            class="friendAvatar dark-{{session.firstColor}}-border green-cursor invert-{{session.invert}}" 
            src="/images/examples.png"
            (click)="goToGame(3)">
        </div>
        <div class="friendName tc dark-{{session.firstColor}}-border green-cursor" (click)="goToGame(3)">
            <span [appEasyLang]="session">Примеры</span><br>
        </div>                                             	 
    </div>

    <div class="box-friend">
        <div class="dark-{{session.firstColor}}-border friendAvatar-container white">
            <img 
            class="friendAvatar dark-{{session.firstColor}}-border green-cursor invert-{{session.invert}}" 
            src="/images/ball.png"
            (click)="goToGame(4)">
        </div>
        <div class="friendName tc dark-{{session.firstColor}}-border green-cursor" (click)="goToGame(4)">
            <span [appEasyLang]="session">Мячик</span><br>
        </div>                                             	 
    </div>
                                         	 
</div>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>
