<div class="backdrop"></div>

<div class="tablo_uv">
    <form 
    id="edit_event" 
    [formGroup]="form">

        <p class="pNotAdmin" appEasyLang>Название комнаты:</p>
        <textarea formControlName="title" class="textarea text-cursor"></textarea> <br>

        <p class="pNotAdmin" appEasyLang>Картинка:</p>
        <input type="file" id="chatImage" (change)="onFileUpload($event)" hidden>
        <label for="chatImage">
            <img 
            class="now_img green-cursor" 
            [src]="imagePreview"
            *ngIf="imagePreview"
            > 
        </label>
        <br>
        <p class="pNotAdmin" appEasyLang>Доступ:</p>
        <div class="radio_yes"></div>
        <label class="radio" [ngClass]="{checked: form.value.privateLevel == 0}">
            <input name="privateLevel" type="radio" [value]="0" formControlName="privateLevel" hidden> 
            <div class="radio_0 green-cursor"></div> 
        </label>
        <div class="radio_yes"></div>
        <label class="radio" [ngClass]="{checked: form.value.privateLevel == 1}">
            <input name="privateLevel" type="radio" [value]="1" formControlName="privateLevel" hidden>
            <div class="radio_1 green-cursor"></div>
        </label>
        <div class="radio_yes"></div>
        <label class="radio" [ngClass]="{checked: form.value.privateLevel == 2}">
            <input name="privateLevel" type="radio" [value]="2" formControlName="privateLevel" hidden>
            <div class="radio_2 green-cursor"></div>
        </label>
        <div style="width: 100%;">
        <div *ngIf="friends && form.value.privateLevel == 2" class="video_form_users">
            <p class="pNotAdmin" appEasyLang>Участники:</p>

            <div class="pictaandtext" *ngFor="let user of friends">
                <img 
                class="pict_event dark-{{session.secondColor}}-border green-cursor" 
                [src]="user.photo"
                (click)="checkUser(user._id)">
                <div class="green-cursor" 
                [ngClass]="{event_tick: users.includes(user._id), event_cross: !users.includes(user._id)}"
                (click)="checkUser(user._id)"> </div>
                <div class="pictatext tc dark-{{session.secondColor}}-border green-cursor" (click)="checkUser(user._id)">
                    <span appEasyLang>{{user.name}}</span><br>
                    <span *ngIf="session.surnameView" appEasyLang>{{user.surname}}</span>
                </div>                                             	 
           </div>
        </div>
        </div>
    </form>
    <div class="green-cursor button_2 delete_pict" *ngIf="room._id" (click)="delete()"></div>
    <div class="green-cursor button_2 pause" *ngIf="room.active == 1" (click)="changeActive(0)"></div>
    <div class="green-cursor button_2 resume" *ngIf="room.active == 0" (click)="changeActive(1)"></div>
    <div id="cross_pict" (click)="close()" class="green-cursor"></div>
    <div id="tick_pict" (click)="onSubmit()" class="green-cursor"></div>
</div>

