<div *ngIf="!reloading; else reloader" class="container">
    <div class="user_filtr">
        <div *ngIf="session.levelStatus == 1">
            <p class="in_user_filtr dark-{{session.firstColor}}-color">Учреждение:</p>
            <select *ngIf="institutions$ | async as institutions" [(ngModel)]="institution" (change)="newInstitution()">
                <option *ngFor="let institution of institutions" [value]="institution._id">{{institution.name}}</option>
            </select>
        </div>
    </div>
    
    <table class="table">
        <thead class="light-{{session.firstColor}}-bg dark-{{session.firstColor}}-color">
            <tr>
                <th class="dark-{{session.firstColor}}-border">№</th>
                <th class="dark-{{session.firstColor}}-border">Имя</th>
                <th class="dark-{{session.firstColor}}-border">Фамилия</th>
                <th class="dark-{{session.firstColor}}-border">Дата рождения</th>
                <th class="dark-{{session.firstColor}}-border">Возраст</th>
                <th class="dark-{{session.firstColor}}-border">Роль</th>
                <th class="dark-{{session.firstColor}}-border">Входы</th>
                <th class="dark-{{session.firstColor}}-border">Последняя активность</th>
                <th class="dark-{{session.firstColor}}-border">Входил через мобильное приложение</th>
                <th class="dark-{{session.firstColor}}-border">Балл</th>
                <th class="dark-{{session.firstColor}}-border">Всего личных чатов</th>
                <th class="dark-{{session.firstColor}}-border">Исходящие чаты</th>
                <th class="dark-{{session.firstColor}}-border">Входящие чаты</th>
                <th class="dark-{{session.firstColor}}-border">Чаты с сообщениями от обоих участников</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено себе сообщений</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено личных сообщений</th>
                <th class="dark-{{session.firstColor}}-border">Из них прочитано</th>
                <th class="dark-{{session.firstColor}}-border">Из них непрочитано</th>
                <th class="dark-{{session.firstColor}}-border">Получено личных сообщений</th>
                <th class="dark-{{session.firstColor}}-border">Из них прочитано</th>
                <th class="dark-{{session.firstColor}}-border">Из них непрочитано</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено групповых сообщений</th>
                <th class="dark-{{session.firstColor}}-border">Из них прочитано (хотя бы 1 человеком)</th>
                <th class="dark-{{session.firstColor}}-border">Из них непрочитано</th>
                <th class="dark-{{session.firstColor}}-border">Получено групповых сообщений</th>
                <th class="dark-{{session.firstColor}}-border">Из них прочитано</th>
                <th class="dark-{{session.firstColor}}-border">Из них непрочитано</th>
                <th class="dark-{{session.firstColor}}-border">Создано мероприятий</th>
                <th class="dark-{{session.firstColor}}-border">Участник мероприятий</th>
                <th class="dark-{{session.firstColor}}-border">Отказался от мероприятий</th>
                <th class="dark-{{session.firstColor}}-border">Поставлено лайков</th>


                <th class="dark-{{session.firstColor}}-border">Загружено картинок</th>
                <th class="dark-{{session.firstColor}}-border">Загружено видео</th>
                <th class="dark-{{session.firstColor}}-border">Загружено музыки</th>
                <th class="dark-{{session.firstColor}}-border">Загружено документов</th>
                <th class="dark-{{session.firstColor}}-border">Записано голосовых</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено картинок</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено видео</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено текста</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено документов</th>
                <th class="dark-{{session.firstColor}}-border">Отправлено аудио</th> 
                <th class="dark-{{session.firstColor}}-border">Получено картинок</th>
                <th class="dark-{{session.firstColor}}-border">Получено видео</th>
                <th class="dark-{{session.firstColor}}-border">Получено текста</th>
                <th class="dark-{{session.firstColor}}-border">Получено документов</th>
                <th class="dark-{{session.firstColor}}-border">Получено аудио</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td class="dark-{{session.firstColor}}-border">{{i + 1}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.name}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.surname}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.birthDate | date:"dd.MM.yyyy"}}</td>
                <td class="dark-{{session.firstColor}}-border">{{countAge(user.birthDate)}}</td>
                <td class="dark-{{session.firstColor}}-border">{{getRole(user.levelStatus)}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.loginDates.length}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.last_active_at | date:"dd.MM.yyyy HH:mm"}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.expoPushToken || user.expoPushToken === '' ? 'Да' : 'Нет'}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.score}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.all_chats}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.only_send_chats}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.only_get_chats}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_and_get_chats}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.self_chat}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_messages}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_messages - user.send_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_messages}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_messages - user.get_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_group_messages}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_group_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_group_messages - user.send_group_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_group_messages_read + user.get_group_messages_not_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_group_messages_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_group_messages_not_read}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.event_author}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.event_participant}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.event_hide}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.likes}}</td>

                <td class="dark-{{session.firstColor}}-border">{{user.pictures}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.videos}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.music}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.documents}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.vote}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_pictures}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_videos}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_text}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_documents}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.send_audios}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_pictures}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_videos}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_text}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_documents}}</td>
                <td class="dark-{{session.firstColor}}-border">{{user.get_audios}}</td>
                
            </tr>
            
        </tbody>
    </table>
    
    <app-loader *ngIf="loading"></app-loader>
    
</div>

<ng-template #reloader>
    <app-loader></app-loader>
</ng-template>

