.header {
    width: 79%;
    height: 1cm;
    top: 0;
    position: fixed;
    padding: 0.2cm;
    z-index: 3;
    overflow: hidden;
}
.search {
    margin-top: 1.5cm;
}
.inheader {
    width: 20vw;
    margin-right: 2%;
    height: 0.8cm;
    font-size: 1.7vw;
    position: relative;
}
select.inheader {
    font-size: 1.5vw;
    width: 15vw;
}
.loader {
    height: 1.5cm;
}

.img_filter {
    height: 0.8cm;
    margin-right: 0.5cm;
    position: relative;
    top: 10px;
}

.checked{
    outline: 3px black solid;
}