.header {
    width: 79%;
    height: 1.5cm;
    top: 0;
    position: fixed;
    padding: 0.2cm;
    z-index: 3;
    overflow: hidden;
}
.search {
    margin-top: 1.1cm;
}
.inheader {
    width: 15vw;
    margin-right: 2%;
    height: 0.8cm;
    font-size: 1.7vw;
    margin-bottom: 1cm;
}
select.inheader {
    font-size: 1.5vw;
    width: 10vw;
}
.loader {
    height: 1.5cm;
}