.time-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .time-list li {
    margin: 10px;
  }
  
  .time-btn {
    background-color: transparent;
    border: 2px solid #000;
    color: black;
    font-family: inherit;
    padding: .5rem 1rem;
    font-size: 1.5rem;
  }
  
  .time-btn:hover {
    border: 2px solid red;
    color: red;
  }


.game3-box {
    display: inline-block;
    margin-left: 5%;
    width: 40%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: auto;
}

span, input {
    font-size: calc(1.5vw + 10px);
}

input {
    width: calc((1.5vw + 10px) * 3);
}


.game3-example {
    margin-top: 15px;
}

.game3-icon {
    height: 2cm;
    width: 2cm;
    display: inline-block;
    float: right;
}
