<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 0">
     <div class="start_event dark-{{session.secondColor}}-border green-cursor" [appEasyLang]="session" *ngIf="session.levelStatus == 6">
        Вы не можете создавать мероприятия
     </div>

     <div class="pictaandtext" *ngIf="session.levelStatus != 6">
        <img class="pict dark-{{session.secondColor}}-border green-cursor" src="/images/create_event.png" 
        (click)="startEvent()">
        <p 
        class="pictatext tc dark-{{session.secondColor}}-border green-cursor" 
        *ngIf="session.text"
        (click)="startEvent()"
        [appEasyLang]="session">
            Создать мероприятие
        </p>               
    </div>
</div>

<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 1">
    <div class="header" [appEasyLang]="session">
        Куда вы хотите пойти?
    </div>    
    <div *ngIf="buttons$ | async as buttons; else loader">
        <span *ngFor="let button of buttons"> 
    
            <div class="pictaandtext">
                <div class="pict dark-{{session.secondColor}}-border">
                <img class="pict-image dark-{{session.secondColor}}-border invert-{{session.invert}} green-cursor" [src]="button.img" 
                (click)="makeEvent(button.type)"></div>
                <p 
                class="pictatext tc dark-{{session.secondColor}}-border green-cursor" 
                *ngIf="button.text && session.text"
                (click)="makeEvent(button.type)"
                [appEasyLang]="session">
                    {{button.text}}
                </p>               
            </div>
    
        </span>
    </div>

</div>

<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 2">
    <div class="header" [appEasyLang]="session">
        Кого вы хотите позвать?
    </div> 

    <span class="chat-menu">

        <img class="menu-icon green-cursor invert-{{session.invert}}" 
        src="/images/tick.png" 
        (click)="toDescription()">

        <img class="menu-icon green-cursor" 
        src="/images/people_transparent.png" 
        (click)="checkAll()">
        
        <img class="menu-icon green-cursor" 
        src="/images/notpeople.png" 
        (click)="checkNobody()">
        
    </span>
    <select 
    class="inheader green-cursor" 
    *ngIf="regions" 
    [(ngModel)]="region" (change)="fetchInstitution(region)">
        <option value="">Любой регион</option>
        <option *ngFor="let region of regions" value="{{region._id}}">{{region.name}}</option>
    </select>

    <div *ngIf="institutions; else loader">
        <div class="pictaandtext" *ngFor="let institution of institutions">
            <div class="pict dark-{{session.secondColor}}-border">
            <img 
            class="white pict-image dark-{{session.secondColor}}-border green-cursor invert-{{session.invert}}" 
            [src]="institution.img"
            (click)="checkUser(institution._id)"></div>
            <div class="green-cursor invert-{{session.invert}}" 
            [ngClass]="{event_tick: myEventInstit.includes(institution._id), event_cross: !myEventInstit.includes(institution._id)}"
            (click)="checkUser(institution._id)"> </div>
            <div class="pictatext tc dark-{{session.secondColor}}-border green-cursor" (click)="checkUser(institution._id)">
                <span [appEasyLang]="session">{{institution.name}}</span>
            </div>                                             	 
       </div>
    </div>

</div>

<div class="all dark-{{session.secondColor}}-border" *ngIf="stage == 3">
    <div class="header" [appEasyLang]="session">
        Описание
    </div> 

    <span class="chat-menu">

        <img class="menu-icon green-cursor invert-{{session.invert}}" 
        src="/images/tick.png" 
        (click)="finish()">
        
    </span>

    <textarea class="description text-cursor-{{!!session.invert}}" [(ngModel)]="description"></textarea>
</div>

<div class="exit green-cursor invert-{{session.invert}}" (click)="cross()"></div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>