.container {
    position: relative;
    margin: auto;
    width: 80%;
}

.itemsBox {
    display: inline-block;
    width: 45%;
    margin-left: 4%;
    vertical-align: top;
}

.itemBox {
    padding: 20px;
    border-style: solid;
    margin-bottom: 20px;
    border-radius: 10px;
    border-width: 2px;
}

.width_5 {
    border-width: 4px;
}

.width_3 {
    border-width: 2px;
}

.button_inline_blok {
    display: inline-block;
}