<div class="nav light-1-bg">
    <label for="toggle-1" class="toggle-menu green-cursor"><i class="toggle-icon"></i></label>
    <input type="checkbox" id="toggle-1">
    <ul class="light-1-bg nav-mobile">
        <li
        class="nav-admin-li"
        *ngFor="let link of links"
        >
            <a 
            [routerLink]="[link.url]" 
            class="nav-admin middle-1-bg-hover green-cursor"
            routerLinkActive="manage-active">
                {{link.name}}
            </a>
        </li>          
    </ul>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>

