.body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.people-active {
    display: none;
}
.myPhotoIMG {
    width: 15vw;
    height: 15vw;
    position: relative;
    object-fit: cover;
    border-radius: 7px;
    display: block;
}
.myPhotoIMG-container {
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    position: relative;
}
.menu {
    z-index: 3;
}

.birthday {
    margin-left: 0;
}

.text-people{
    margin-top: -3px;
}
