.body {
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: auto;
    margin: 0;
    /* padding: 20px; */
}

.ratingBox {
    background: #fff;
    padding: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    width: 80%;
    margin: auto;
    margin-top: 1.5cm; 
}

.exit {
    right: 2%;
    position: fixed;
}

.ratingPhoto {
    height: calc(0.5cm + 2vw);
    width: calc(0.5cm + 2vw);
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
}

.inline-block {
    display: inline-block;
}

.ratingLetter {
    position: relative;
    height: calc(0.5cm + 2vw);
    width: calc(1cm + 4vw);
    background-image: url('/images/letter.png'); 
    background-size: 100% 100%;
    display: inline-block;
    float: right;
    margin-right: 1vw;
    border: 3px solid red;
    border-radius: 7.5px;
}

.section {
    margin-top: 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    padding: 0.2cm;
    z-index: 3;
}
.search {
    margin-top: 1.5cm;
}
.inheader {
    width: 20vw;
    margin-right: 2%;
    height: 0.8cm;
    font-size: 1.7vw;
}
select.inheader {
    font-size: 1.5vw;
    width: 15vw;
}
