.exit {
    position: fixed;
    right: 21vw;
    bottom: 1vw;
  }


.room_author {
  position: relative;
  float: left;
  margin-left: 3vw;
  top: 1vw;
  margin-top: -4vw;
  height: calc(4vw - 6px);
  width: calc(4vw - 6px);
  z-index: 2;
  border-radius: 35%;
  border-style: solid;
  border-width: 3px;
}