<form 
id="edit_picture_or_folder" 
[formGroup]="form" 
(ngSubmit)="onSubmit(null)"
class="dark-{{session.firstColor}}-border"
*ngIf="session; else loader">
    <div *ngIf="event; else loader">
        <p class="dark-{{session.firstColor}}-color">Мероприятие:</p>
        <div *ngIf="buttons$ | async as buttons">
            <div *ngFor="let button of buttons">
                <div *ngIf="event.type == button.type">{{button.text}}</div>
            </div>
        </div> <br>

        <p class="dark-{{session.firstColor}}-color">Название чата:</p>
        <input type="text" formControlName="chatTitle" class="description-input"> 
        <br><br>

        <p class="dark-{{session.firstColor}}-color">Описание:</p>
        <textarea type="text" formControlName="description" class="description-input"></textarea>
        <br><br>

        <p class="dark-{{session.firstColor}}-color">Адрес:</p>
        <input type="text" formControlName="address" class="description-input"> <br><br>

        <p class="dark-{{session.firstColor}}-color">Стоимость:</p>
        <input type="number" min="0" formControlName="cost" class="text-input"> <br><br>

        <p class="dark-{{session.firstColor}}-color">Дата и время:</p>
        <input type="datetime-local" [min]="now" formControlName="date">  <br><br>

        <p class="dark-{{session.firstColor}}-color">Уровень мероприятия:</p>
        <div *ngIf="event.status == 0">
            <input type="radio" formControlName="p_status" value="0"> Публичное мероприятие. 
            Мероприятие будет доступно всем пользователям, в том числе созданным после рассылки. 
            Увидеть мероприятие также смогут незарегистрированные пользователи. <br>
            <input type="radio" formControlName="p_status" value="1"> Пригласить определённые группы пользователей. 
            Мероприятие будет доступно всем пользователям, подходящим под фильтры, в том числе созданным после рассылки. <br>
            <input type="radio" formControlName="p_status" value="2"> Пригласить определённых пользователей. <br><br>
        </div>
        <div *ngIf="event.status != 0">
            <p *ngIf="form.value.p_status == '0'"> Публичное мероприятие. 
            Мероприятие доступно всем пользователям, в том числе созданным после рассылки. 
            Увидеть мероприятие также могут незарегистрированные пользователи.</p>
            <p *ngIf="form.value.p_status == '1'"> Приглашены определённые группы пользователей. 
            Мероприятие доступно всем пользователям, подходящим под фильтры, в том числе созданным после рассылки. </p>
            <p *ngIf="form.value.p_status == '2'"> Приглашены определённые пользователи.</p> 
            <br>
        </div>

        <div *ngIf="event.status == 0">
            <div *ngIf="form.value.p_status == 1 && institutions"> 
                <p class="dark-{{session.firstColor}}-color">Выберите учреждения:</p>
                <button (click)="checkAll_1()" type="button">Выбрать все</button>
                <button (click)="checkNobody_1()" type="button">Отменить все</button>
                <div *ngFor="let institution of institutions">
                    <button 
                    (click)="checkInst(institution._id)" 
                    [ngClass]="{green_button: wait_inst.includes(institution._id), red_button: !wait_inst.includes(institution._id)}" 
                    type="button">{{wait_inst.includes(institution._id) ? 'Отменить' : 'Выбрать'}}
                    </button>
                    {{institution.name}} 
                </div><br>

                <p class="dark-{{session.firstColor}}-color">Выберите роли:</p>
                <div>
                    <button 
                    (click)="checkRole('1')" 
                    [ngClass]="{green_button: roles.includes('1'), red_button: !roles.includes('1')}" 
                    type="button">{{roles.includes('1') ? 'Отменить' : 'Выбрать'}}
                    </button>
                    Администраторы
                </div>
                <div>
                    <button 
                    (click)="checkRole('2')"
                    [ngClass]="{green_button: roles.includes('2'), red_button: !roles.includes('2')}" 
                    type="button">{{roles.includes('2') ? 'Отменить' : 'Выбрать'}}
                    </button>
                    Модераторы 
                </div>
                <div>
                    <button 
                    (click)="checkRole('3')"
                    [ngClass]="{green_button: roles.includes('3'), red_button: !roles.includes('3')}" 
                    type="button">{{roles.includes('3') ? 'Отменить' : 'Выбрать'}}
                    </button>
                    Подопечные
                </div>
                <div>
                    <button 
                    (click)="checkRole('5')"
                    [ngClass]="{green_button: roles.includes('5'), red_button: !roles.includes('5')}" 
                    type="button">{{roles.includes('5') ? 'Отменить' : 'Выбрать'}}
                    </button>
                    Взрослые
                </div>
                <div>
                    <button 
                    (click)="checkRole('4')" 
                    [ngClass]="{green_button: roles.includes('4'), red_button: !roles.includes('4')}" 
                    type="button">{{roles.includes('4') ? 'Отменить' : 'Выбрать'}}
                    </button>
                    Гости 
                </div> <br>

                <p class="dark-{{session.firstColor}}-color">Выберите пол:</p>
                <input name="sex" type="radio" value="0" formControlName="sex"> Все <br>
                <input name="sex" type="radio" value="1" formControlName="sex"> Только мужчины <br>
                <input name="sex" type="radio" value="2" formControlName="sex"> Только женщины <br>
            </div> 

            <div *ngIf="form.value.p_status == 2">
                <p class="dark-{{session.firstColor}}-color">Кому рассылать:</p>   
            
                <p class="dark-{{session.firstColor}}-color">Учреждение:</p>
                <select *ngIf="institutions" formControlName="institution" (change)="changeInstitution()">
                    <option 
                    *ngFor="let institution of institutions" 
                    value="{{institution._id}}"
                    >
                    {{institution.name}}</option>
                </select>

                <div *ngIf="users">
                    <button (click)="checkAll()" type="button">Выбрать всех</button>
                    <button (click)="checkNobody()" type="button">Отменить всех</button>
                    <div *ngFor="let user of users">
                        <button (click)="checkUser(user._id)" [ngClass]="{green_button: wait.includes(user._id), red_button: !wait.includes(user._id)}" type="button">{{wait.includes(user._id) ? 'Отменить' : 'Выбрать'}}</button>
                        {{user.name}} {{user.surname}}, {{user.login}} 
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div *ngIf="event.status == 1 || event.status == 2">
            <p class="dark-{{session.firstColor}}-color">Показывать:</p>
            <select formControlName="whomShow" (change)="changeWhomShow()">
                <option value="1">Отказались</option>
                <option value="2">Учавствуют</option>
            </select>
            <div *ngIf="form.value.whomShow == 1">
                <div *ngFor="let user of event.hideNames">         
                    {{user.name}} {{user.surname}}, {{user.login}}, {{user.institutionName}}
                </div>
            </div>
            <div *ngIf="form.value.whomShow == 2">
                <div *ngFor="let user of event.participantsNames">
                    {{user.name}} {{user.surname}}, {{user.login}}, {{user.institutionName}}
                </div>
            </div>
            <br>
        </div>
        

        <p class="dark-{{session.firstColor}}-color">Картинка чата (рекомендуется квадратное изображение):</p>
        <input type="file" formControlName="chatImage"  (change)="onFileUpload($event)"><br>
        <img 
        class="now_img" 
        [src]="imagePreview"
        *ngIf="imagePreview"
        > <br> <br>
    
        <p class="dark-{{session.firstColor}}-color">Фотолайки:</p>
        <input type="file"  formControlName="photolikesImage"  (change)="onPhotolikesUpload($event)" multiple><br>
        <div *ngIf="event.photolikes && event.photolikes.length > 0">
            <img 
            *ngFor="let photo of event.photolikes"
            class="phl_img" 
            [src]="photo"> 
        </div> <br> <br>
        <br><br>

        <a 
        class="nav-admin form_picture_button middle-{{session.firstColor}}-bg-hover" 
        [routerLink]="['/manage/events']">Назад</a>

        <button id="submit_button" type="submit" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover">
            Сохранить
        </label>

        <button id="submit_button" type="button" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
        (click)="onSubmit(1)"
        *ngIf="event.status == 0">
            Сделать рассылку
        </label>

        <button id="submit_button" type="button" hidden></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
        (click)="onSubmit(-1)"
        *ngIf="event.status == 0">
            Отклонить
        </label>

        <button id="submit_button" type="button" hidden [disabled]="form.disabled || form.invalid"></button>
        <label 
        for="submit_button" 
        class="new_user_button form_picture_button middle-{{session.firstColor}}-bg-hover"
        (click)="onSubmit(2)"
        *ngIf="event.status == 1">
            Отправить в фотолайки
        </label>
    </div>
</form>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>