
* {
  margin: 0;
  padding: 0;
}

.info_container {
  width: 100vw;
  height: 100vh;
  background-color: #161d29;
  overflow: hidden;
}
.link_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.exit {
  position: fixed;
  right: 1vw;
  bottom: 1vw;
}

.info_box {
  width: 600px;
  max-width: 80vw;
  height: 200px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: calc(50vh - 100px);
  margin: auto;
}

.bottom_entrance {
    text-align: center;
    top: 25px; 
    width: 60%;
    padding: 5px;
    display: block;
    border: 4px solid red;
    border-radius: 5px;
    font-size: calc(10px + 2vw);
    margin: auto;
}
.meActive {
  border-radius: 50%;
  height: 6vh;
  width: 6vh;
  position: fixed;
  left: 1vh;
  top: 1vh;
}
.red {background: red;}
.green {background: green;}
.link_box {
  width: 600px;
  height: 80vw;
  max-width: 200px;
  max-height: 100%;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: block;
  position: relative;
  top: calc(50vh - 100px);
  margin: auto;
}

.link_buttons {
  bottom: 5px;
  position: absolute;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: #1d2635;
}

.logo > h3 {
  color: #eeeeee;
}

.main {
  height: 92vh;
  display: flex;
}

.main__left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: #242f41;
}

.videos__group {
  /* flex: 1; */
  height: calc(92vh - 2rem);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #161d29;
  overflow: auto;
}

/* video {
  height: 300px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
} */

.options {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  padding: 0.1rem;
  display: flex;
  background-color: #1d2635;
  flex-direction: column;
}

.options__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f80ec;
  height: 50px;
  border-radius: 5px;
  color: #eeeeee;
  font-size: 1.2rem;
  width: 50px;
  margin: 0.1rem 0.1rem;
}

.background__red {
  background-color: #f6484a;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
  width: 95%;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
}

.main__message_container > input, .main__message_container > textarea {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  resize: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.message > b {
  color: #eeeeee;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.message > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
}

.message > span {
  background-color: #eeeeee;
  margin: 1rem 0;
  padding: calc(0.3vw + 3px);
  border-radius: 5px;
  font-size: calc(1vw + 5px);
}

.unauth_input {
  height: calc(1vw + 10px);
  width: 90%;
  margin: auto;
  font-size: calc(1vw + 5px);
  display: block;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
}

#video-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: calc(92vh - 3rem);
  padding-bottom: 1rem;
}

#showChat {
  display: none;
}

/* .header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
} */

.tick {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(/images/tick.png);
  background-size: 100% 100%;
  bottom: 1%;
  right: 1%;
  z-index: 10;
}

/* @media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
} */

.link_container {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

