<div class="emo_pt">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <p class="entrance tc notadmin" appEasyLang>Логин: </p>
          <input 
          name="username"
          formControlName="login"
          autocomplete="on"
          class="entrance text-cursor">

          <p class="entrance tc entrance_password notadmin" appEasyLang>Пароль:</p>
          <ng-container>
               <input 
               #password
               type="password"
               name="password"
               formControlName="password"
               autocomplete="on"
               class="entrance text-cursor">
               <span class="password-control green-cursor" #password_control (click)="show_hide_password()"></span>
          </ng-container>
          
          <button 
          class="entrance" 
          id="bottom_entrance_hidden" 
          type="submit"
          [disabled]="form.invalid || form.disabled" 
          hidden> </button>

          <label 
          for="bottom_entrance_hidden"
          id="bottom_entrance" 
          class="tc green-cursor"
          appEasyLang>
               ВХОД
          </label>            

    </form>
    <a 
    href="https://play.google.com/store/apps/details?id=com.centervnl.emo" 
    >
         <img src='/images/google-play-badge.png' class="market">
    </a>
    <a 
    href="https://apps.apple.com/us/app/%D1%8D%D0%BC%D0%BE/id1585983367" 
    >
         <img src='/images/app_store.png' class="market">
    </a>
    
</div>
<div class="emo_pt">
     <img id="emoPicture" src="/images/emo.png">
     <h1 class="tc" id="emoText" appEasyLang>ЭМО</h1>
</div>
<div class="footer">
     <a 
     routerLink="/privacy" 
     class="link">
          Политика конфиденциальности
     </a>

     <a 
     href="mailto:admin@emo.su"  
     class="link">
          Связаться с нами: admin@emo.su
     </a>
</div>