.footer {
    position: fixed;
    left: 15px;
    bottom: 15px;
}

.market {
    height: calc(3vw + 15px);
    margin-top: 2vw;
    margin-left: 5px;
    margin-right: 5px;
}


.emo_pt {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding-left: 10vw;
}

.link {
    margin-right: 20px;
}


