body { 
    margin: 0;
    background: WHITE;
    overflow: scroll;
    word-wrap: break-word;
}

.form {
    left: 5%;
    width: 40%;  
    display: inline-block; 
    position: relative;
 }

.pNotAdmin {
    font-size: 2.5vw;
    font-family: Arial, sans-serif;
}

textarea {
    font-family: Arial, sans-serif;
}
 
.entrance {
	height: 4.5vw;
	font-size: 4.2vw; 
    margin-left: 20px;
}

.entrance_password {
    margin-top: 45px;
}

#bottom_entrance {
    text-align: center;
    margin-top: 25px; 
    width: 60%;
    padding: 5px;
    display: block;
    border: 4px solid red;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 3.2vw;
}

#textarea_entrance {
    margin-top: -10px; 
    width: 70%;    
}

#error_bottom {
     text-align: center;
     border: 2px solid black;
     margin-left: 35%;
     margin-right: 35%;
}

#error_text {
     text-align: center;
     margin-top: 15%;
}

.red {color: red;} 

.tc {
    background: white; 
    color: black;
    font-family: Arial, sans-serif;
}

.white {
      background: white; 
}

a {
    text-decoration: none;
    border-width: 0;
}

p, img, a:visited, a:active, a:hover {
    text-decoration: none;
}

.black-cursor, body, html {
     cursor: url('/images/cursorBlack.cur'), default;
     font-family: Arial, sans-serif;
}

.green-cursor
{
     cursor: url('/images/cursor.cur'), pointer;
}

.text-cursor {
    cursor: url('/images/cursorText.cur') 16 16, text;
}

#emoPicture {
     z-index: 2;
     position: relative;
     width: 25vw;
     height: auto;
     padding-top: 2vw;
     margin: auto;
}


#emoText {
    position: relative;
    width: 25vw;
    display: block;
    text-align: center;
    font-size: 4.2vw; 
    z-index: 3;
}
button, button:active, button:focus,
audio, video {
    outline: none !important;
}

.emo_pt {
    display: inline-block;
    margin-left: 25vw;
}
